
div#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:rgb(248, 4, 171);
	padding:8px;
}

body#body {
  background-color: rgb(255, 234, 241);
	background-image: radial-gradient(rgb(253, 200, 219), rgb(186, 220, 252), rgb(189, 253, 221), rgb(160, 160, 252), rgb(253, 200, 219), rgb(186, 220, 252), rgb(189, 253, 221), rgb(160, 160, 252), rgb(253, 200, 219), rgb(186, 220, 252), rgb(189, 253, 221), rgb(160, 160, 252), rgb(253, 200, 219), rgb(186, 220, 252), rgb(189, 253, 221), rgb(160, 160, 252));
	padding-top: 15%;
	padding-left: 25%;
	padding-right: 25%;
	padding-bottom: 100%;
}

div#stylists {
  background-color: lavender;
}

div#home {
  background-color: aliceblue;
  padding-bottom: 100%;
}

div#clients {
  background-color: mintcream;
}